body {font:18px/1.25 'Arial', sans-serif;
    justify-content: center;
    display: flex;
    flex: 1;
}
img{
    margin: 0px 10px 0px 0px;
}
a:link {
    text-decoration: none;
    color: black;
  }
.tweet-list{
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tweet-item{
    width: 330px;
    margin: 10px;
    padding: 20px;
    border: 2px solid lightgray;
}
.tweet-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.tweet-body{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: stretch;

}
.tweet-footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}