body{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    align-content: stretch;
    flex: 1;
}
header{
    display: block;
    height: 100px;
    background-color: lightsalmon;
}
footer{
    display: block;
    height: 200px;
    background-color: darkgrey;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    margin: 0px;
}

.content{
    height: auto;
}